table {
    border-collapse: separate;
    border-spacing: 1em;
}

body {
    font-family: Verdana;
    overflow-x: hidden;
}

#contact {
  background-color: #616161;
  color: white;
  position: absolute;
  width: 100%;
  left: 0;
}

.btn{
  background-color: #616161;
  border: 0 none;
}
@media (max-width: 768px) {
[class*="col-"] {
    margin-bottom: 5px;
}
}


#icon:hover  {
  opacity: 0.5;
}

img {
    image-orientation: from-image;
}

.carousel {
  height: 400px;
  background-color: #616161;
}

.carousel-inner > .item > img {
  height: 400px;
}
