body {
    background-color: #ccffcc;
    font-family: Verdana;
    padding-right:300px;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: blue;
    text-decoration: underline;
}
