body {
    background-color: #ccffcc;
    font-family: Verdana;
    text-align:left;
    width: 100%;
    margin:0;
    padding:0;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

td {
    padding-bottom: .5em;
}

#intro {
    max-width: 800px;
}

#resume {
    background-color: #99ccff;
}

#contact {
    background-color: #ffcc99;
    width: 100%;
}